<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Homepage</title>-->
<!--    <div th:replace="fragments :: header"/>-->
<!--</head>-->

<!--<body style="background-color:#EDF1FF">-->

<!--<div th:replace="fragments :: navigation"></div>-->

<!--<div align="center">-->
<!--    <h1>-->
<!--        Hello and welcome to Gregory page-->
<!--    </h1>-->


<!--    <h4>-->
<!--        Please, create an account to get full access to the tests.-->

<!--    </h4>-->

<!--</div>-->

<!--<div class="registration-form">-->
<!--    <h2>Register</h2>-->
<!--    <form th:action="@{/register}" method="get">-->
<!--&lt;!&ndash;        <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;            <label for="username">Name-o:</label>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="text" id="username" name="username" required>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--        &lt;!&ndash;        <div class="form-group">&ndash;&gt;-->
<!--        &lt;!&ndash;            <label for="email">Email:</label>&ndash;&gt;-->
<!--        &lt;!&ndash;            <input type="email" id="email" name="email" required>&ndash;&gt;-->
<!--        &lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;            <label for="password">Password:</label>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="password" id="password" name="password" required>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--        <div class="form-group">-->
<!--            <button type="submit">Register</button>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->