<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <div th:replace="fragments :: header"/>
</head>
<body style="background-color:#EDF1FF">
<div th:replace="fragments :: navigation"></div>
<div align="center">
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">User Id</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${users.empty}">
                <td colspan="4">No users found</td>
            </tr>
            <tr th:each="user : ${users}">
                <th scope="row" th:text="${user.userId}"></th>
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>
                <td>
                    <form th:action="@{/user-list/delete/{id}(id=${user.userId})}" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
